<!-- creat a simple tails winds 
html template with an input box and a submit button
its nicely centered and haas a inviting feel
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Repos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-4xl text-center">Search for Github Repos</h1>
    <!-- <div class="flex justify-center">
        <div class="w-1/2">
            <form action="/repos" method="GET">
                <input type="text" name="username" class="w-1/2 p-4 m-4 rounded-lg" placeholder="Enter a username">
                <button type="submit" class="bg-blue-500 text-white p-4 m-4 rounded-lg">Search</button>
            </form>
        </div> -->
        <!-- stack input and button on top of each other -->
            <div class="w-full flex justify-center">
                <form action="/repos" method="GET">
                    <input type="text" name="username" class="w-full p-4 m-4 rounded-lg
                    border-2 border-blue-100 placeholder-blue-200 text-blue-700 hover:border-blue-300 focus:border-blue-300 focus:outline-none transition duration-500 ease-in-out
                    " placeholder="Enter a username">
                    <button type="submit" class=" w-full  bg-blue-500 text-white p-4 m-4 rounded-lg">Search</button>
                </form>
            </div>

</html>

